<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Year</th>
            <th class="text-end" scope="col"></th>
        </tr>
    </thead>
    <tbody>

    <tr *ngFor="let movie of value">
        <td>{{ movie.Title }}</td>
        <td>{{ movie.Type }}</td>
        <td>{{ movie.Year }}</td>
        <td class="text-end">
            <button 
                class="delete btn btn-secondary" 
                title="delete movie"
                (click)="delete.emit(movie.imdbID)"
            >
                Remove from favorite
            </button>
        </td>
    </tr>
    </tbody>
</table>
